<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGMI ID API</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Welcome To Bgmi ID API 💕</h1>
    <h2>Get Your Bgmi ID</h2>
    <button class="btn-grad"><a href="https://techabhibgmi.onrender.com/bgmiid" target="_blank">Get Now</a></button>
    
</body>
</html>